
<ul><h2 class="bodyTextColor safuTealBrand">Welcome to the <strong class="safuGoldBrand">QUERY</strong> page!</h2></ul>
<ul><p class="bodyTextColor">Want to check if a Blockchain Wallet Address is <span class="safuGoldBrand">'SAFU'</span>? Enter the Wallet Address in the search bar below and Hit the "QUERY" button</p></ul>

<div style="padding-top: 20px; padding-left: 150px">
  <div class="card card-block safuCardSize">
    <ul><h2 class="card-title"><strong>QUERY FUNCTION</strong></h2></ul> 
      <form action="" method="POST">
        <ul><input style="width: 400px;" type="text" placeholder="Enter Blockchain Wallet Address" name="bwa" id="userBWAInput"/></ul>
        <ul><button style="width: 400px;" type="submit">QUERY</button></ul>
      </form>
  </div> 
</div>