<ul>
  <h2 class="bodyTextColor safuTealBrand">Welcome to the <strong class="safuGoldBrand">SUBMIT</strong> page!</h2>
</ul>
<ul>
  <p class="bodyTextColor">Want to submit a Blockchain Wallet Address that isn't <span class="safuGoldBrand">'SAFU'</span>?
    Fill up the form below and Hit the "SUBMIT" button</p>
</ul>

<div style="padding-top: 20px; padding-left: 150px">
  <div class="card card-block safuCardSize">
    <ul>
      <h2 class="card-title"><strong>SUBMIT FUNCTION</strong></h2>
    </ul>
    <form action="/walletschema" method="POST">
      <ul><input style="width: 400px;" type="text" placeholder="Enter Blockchain Wallet Address" name="bwa" /></ul>
      <ul><input style="width: 400px;" type="text" placeholder="Enter Your Full Name" name="fullName" /></ul>
      <ul><input style="width: 400px;" type="text" placeholder="Enter Your Email Address" name="email" /></ul>
      <ul><input style="width: 400px;" type="text" placeholder="Enter Your comments" name="comments" /></ul>
      <ul><button style="width: 400px;" type="submit">SUBMIT</button></ul>
    </form>
  </div>
</div>

<!-- <div class="container-fluid">
  <div style="padding-top: 20px; padding-left: 150px">
    <div class="row" *ngFor="let wa of walletAddresses">
      <h2 class="card-title"><strong>SUBMISSION DETAILS</strong></h2>
      <p class="card-text">Blockchain Wallet Address: {{wa.bwa}}</p>
      <p class="card-text">Submitter's Name: {{wa.fullName}} </p>
      <p class="card-text">Submitter's Email: {{wa.email}} </p>
      <p class="card-text">Submitter's Comments: {{wa.comments}} </p>
    </div>
  </div>
</div> -->