<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm safuNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <h4 class="navbar-brand safuGoldBrand">
            BINANCE
          </h4>
          <h4 class="navbar-brand safuTealBrand">
            SAFU_Hackathon <strong>/SINGAPORE</strong>
          </h4>
          <li><strong><a class="nav-item nav-link safuNavLink" routerLink="/">Home</a></strong></li>
          <li><strong><a class="nav-item nav-link safuNavLink" routerLink="/query">Query</a></strong></li>
          <li><strong><a class="nav-item nav-link safuNavLink" routerLink="/submit">Submit</a></strong></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid" style="color: rgb(38, 51, 54); text-align:center; padding-top: 20px">
    <router-outlet></router-outlet>
</div>